# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# LaTeX stuff
*.aux
*.log
*.out

# CMake stuff
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

test/test
doc/doxygen/html/
doc/doxygen/latex/

frivoldraw/frivoldraw_lib.js
perftest/perftest
perftest/*.txt
