# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# LaTeX stuff
*.aux
*.log
*.out

# CMake stuff
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# Executables
test/test
